@charset "utf-8";
/*-----------------------------------清除默认样式-------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
i,
b,
em,
strong {
  font-style: normal;
}
img {
  display: block;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(http://2.tthunbohui.cn/zhuanti/10809/YQH-imgBj-logo.png);
  background-size: 20% auto;
}
.clear-A {
  text-decoration: none;
  color: #333;
}
/*---------------------------------------end------------------------------------------------*/
/*-------------------------------------公共样式---------------------------------------------*/
.wrap {
  width: 15rem;
  margin: 0 auto;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
body {
  font-family: "微软雅黑" !important;
  color: #333;
  font-size: 40px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.middle:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 0;
}
.marginfix:before {
  content: "";
  display: table;
}
/* *******************************背景图设置mixin */
/* ******************************end */
/* *************************鼠标移入wayra效果mixin */
.weddingExpoFile-public-header {
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  font-family: "微软雅黑";
}
.weddingExpoFile-public-header .header-nav {
  height: 100%;
  padding: 0 10px;
}
.weddingExpoFile-public-header .header-nav:after {
  content: '';
  display: block;
  clear: both;
}
.weddingExpoFile-public-header .navas {
  float: left;
  font-size: 0;
}
.weddingExpoFile-public-header .navas a {
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  color: #563d7c;
  height: 42px;
  text-decoration: none;
  line-height: 42px;
}
.weddingExpoFile-public-header .navas .active {
  color: #463265;
  background-color: #ececec;
}
.weddingExpoFile-public-header .navas .activeIn {
  color: #463265;
  background-color: #ececec;
}
/* *******************************end */
/*---------------------------------------end------------------------------------------------*/
