@charset "utf-8";
/*-----------------------------------清除默认样式-------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
i,
b,
em,
strong {
  font-style: normal;
}
img {
  display: block;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(http://2.tthunbohui.cn/zhuanti/10809/YQH-imgBj-logo.png);
  background-size: 20% auto;
}
.clear-A {
  text-decoration: none;
  color: #333;
}
/*---------------------------------------end------------------------------------------------*/
/*-------------------------------------公共样式---------------------------------------------*/
.wrap {
  width: 15rem;
  margin: 0 auto;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
body {
  font-family: "微软雅黑";
  color: #333;
  font-size: 40px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.middle:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 0;
}
.marginfix:before {
  content: "";
  display: table;
}
/* *******************************背景图设置mixin */
/* ******************************end */
/* *************************鼠标移入wayra效果mixin */
.weddingExpoFile-public-header {
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  font-family: "微软雅黑";
}
.weddingExpoFile-public-header .header-nav {
  height: 100%;
  padding: 0 10px;
}
.weddingExpoFile-public-header .header-nav:after {
  content: '';
  display: block;
  clear: both;
}
.weddingExpoFile-public-header .navas {
  float: left;
  font-size: 0;
}
.weddingExpoFile-public-header .navas a {
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  color: #563d7c;
  height: 42px;
  text-decoration: none;
  line-height: 42px;
}
.weddingExpoFile-public-header .navas .active {
  color: #463265;
  background-color: #ececec;
}
.weddingExpoFile-public-header .navas .activeIn {
  color: #463265;
  background-color: #ececec;
}
/* *******************************end */
/*---------------------------------------end------------------------------------------------*/
body {
  font-size: 16px;
  background: #ECEFF1;
}
.btn-effect-container {
  text-align: center;
  width: 100%;
  max-width: 1450px;
  min-width: 770px;
  table-layout: fixed;
  margin: auto;
}
.efct-h2 {
  padding: 20px;
  font-weight: normal;
  font-size: 20px;
}
.efct-h1 {
  text-align: center;
  line-height: 80px;
  height: 80px;
  background: #6f5499;
  color: #fff;
  font-weight: normal;
}
/* ****************************按钮 */
.btn-effect {
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #37474f;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #37474f;
  position: relative;
  z-index: 0;
}
.btn-effect:hover {
  text-decoration: none;
  color: #37474f;
}
/* *****************************特效一 */
.btn-effect001 {
  font-size: 0;
}
.btn-effect001:before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  color: #37474f;
  font-size: 16px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.btn-effect001:after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 40px;
  top: 0;
  left: 0;
  opacity: 0;
  color: #3f51b5;
  font-size: 16px;
  transform: translate3d(0, 25%, 0);
  -webkit-transform: translate3d(0, 25%, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.btn-effect001:hover:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.btn-effect001:hover:before {
  opacity: 0;
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
}
.btn-effect001:hover {
  border-color: #3f51b5;
  background-color: rgba(63, 81, 181, 0.1);
}
/* *****************************特效二 */
.btn-effect002:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #37474f;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.btn-effect002:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.btn-effect002:hover {
  color: #fff;
}
/* *****************************特效三 */
.btn-effect003:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #37474f;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.btn-effect003:hover {
  color: #fff;
  border-color: #3f51b5;
}
.btn-effect003:hover:before {
  opacity: 1;
  background-color: #3f51b5;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
/* *****************************特效四 */
.btn-effect004:before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  background: #7986cb;
  color: #fff;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  top: 0;
}
.btn-effect004:after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  background: #7986cb;
  color: #fff;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  bottom: 0;
  line-height: 0;
}
.btn-effect004:hover:before {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.btn-effect004:hover:after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
/* *****************************特效五 */
.btn-effect005 {
  font-size: 0;
}
.btn-effect005:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7986cb;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  font-size: 16px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn-effect005:after {
  content: attr(data-text);
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn-effect005:hover:before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.btn-effect005:hover:after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
/* *****************************特效六 */
.btn-effect006 {
  color: #37474f;
  border: none;
  -moz-transition: color 0.3s ease-out 0s;
  /* Firefox 4 */
  -webkit-transition: color 0.3s ease-out 0s;
  /* Safari 和 Chrome */
  -o-transition: color 0.3s ease-out 0s;
  /* Opera */
  transition: color 0.3s ease-out 0s;
}
.btn-effect006:before {
  content: '';
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
  border: 2px solid #7986cb;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
  -webkit-transform: scale3d(0.7, 0.7, 1);
  transform: scale3d(0.7, 0.7, 1);
}
.btn-effect006:after {
  content: '';
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
  background: #7986cb;
}
.btn-effect006:hover {
  color: #fff;
}
.btn-effect006:hover:before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.btn-effect006:hover:after {
  -webkit-transform: scale3d(0.7, 0.7, 1);
  transform: scale3d(0.7, 0.7, 1);
  background-color: #3f51b5;
}
/* *****************************特效7 */
.btn-effect007 {
  background: #7986cb;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  overflow: visible;
}
.btn-effect007:before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}
.btn-effect007:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #ECEFF1;
  background-color: #3f51b5;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
}
.btn-effect007:hover:before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* *****************************特效8 */
.btn-effect008 {
  color: #fff;
  background: #7986cb;
}
.btn-effect008:before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -1em 0 0 1px;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #3f51b5;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: scale3d(1, 2, 1);
  transform: scale3d(1, 2, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
}
.btn-effect008:hover {
  color: #fff;
}
.btn-effect008:hover:before {
  -webkit-transform: scale3d(9, 9, 1);
  transform: scale3d(9, 9, 1);
}
/* *****************************特效9 */
.btn-effect009 {
  background: #fff;
  color: #37474f;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.btn-effect009:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  background: #7986cb;
}
.btn-effect009:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  background: #3f51b5;
}
.btn-effect009:hover {
  color: #fff;
}
.btn-effect009:hover:before {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.btn-effect009:hover:after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition-delay: 0.175s;
  transition-delay: 0.175s;
}
/* *****************************特效10 */
.btn-effect0010 {
  color: #fff;
  background: #37474f;
  -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.btn-effect0010:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #37474f;
  -webkit-transform-origin: -25% 50%;
  transform-origin: -25% 50%;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}
.btn-effect0010:hover {
  background-color: #7986cb;
  color: #7986cb;
}
.btn-effect0010:hover:after {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
}
/* *****************************特效11 */
.btn-effect0011 {
  border: none;
  background: #37474f;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.btn-effect0011:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #3f51b5;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
  z-index: -1;
  border-radius: inherit;
  opacity: 0;
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn-effect0011:hover {
  background-color: #fff;
  color: #3f51b5;
}
.btn-effect0011:hover:before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
/* *****************************特效12 */
.btn-effect0012 {
  overflow: visible;
  border: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.btn-effect0012:before {
  content: '';
  position: absolute;
  border-radius: inherit;
  background: #7986cb;
  z-index: -1;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  opacity: 0.2;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.btn-effect0012:after {
  content: '';
  position: absolute;
  border-radius: inherit;
  background: #7986cb;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(1.1, 1, 1);
  transform: scale3d(1.1, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.btn-effect0012:hover {
  color: #fff;
}
.btn-effect0012:hover:before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.btn-effect0012:hover:after {
  background-color: #37474f;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
/* *****************************特效13 */
.btn-effect0013 {
  border: none;
  overflow: visible;
  color: #fff;
}
.btn-effect0013:before {
  content: '';
  z-index: -1;
  border-radius: inherit;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  border: 2px solid #37474f;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
  opacity: 0;
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}
.btn-effect0013:after {
  content: '';
  z-index: -1;
  border-radius: inherit;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  background: #37474f;
}
.btn-effect0013:hover:before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.btn-effect0013:hover:after {
  opacity: 0;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
}
/* *****************************特效14 */
.btn-effect0014 {
  border: none;
  background: #7986cb;
  color: #7986cb;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn-effect0014:before {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: inherit;
  background: #37474f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn-effect0014:after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: inherit;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: #fff;
}
.btn-effect0014:hover {
  color: #37474f;
}
.btn-effect0014:hover:before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* *****************************特效15 */
.btn-effect0015 {
  background: #fff;
  color: transparent;
  border-color: #37474f;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.btn-effect0015:before {
  content: attr(data-text);
  font-size: inherit;
  color: #37474f;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn-effect0015:hover {
  background: #3f51b5;
  border-color: #3f51b5;
  color: transparent;
}
.btn-effect0015:hover:before {
  color: #fff;
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
}
/* *****************************特效16 */
.btn-effect0016 {
  -moz-transition: color 0.3s ease-out 0s;
  /* Firefox 4 */
  -webkit-transition: color 0.3s ease-out 0s;
  /* Safari 和 Chrome */
  -o-transition: color 0.3s ease-out 0s;
  /* Opera */
  transition: color 0.3s ease-out 0s;
}
.btn-effect0016:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: #37474f;
  left: 0;
  bottom: 0;
  z-index: -1;
  -moz-transition: width 0.3s ease-out 0s;
  /* Firefox 4 */
  -webkit-transition: width 0.3s ease-out 0s;
  /* Safari 和 Chrome */
  -o-transition: width 0.3s ease-out 0s;
  /* Opera */
  transition: width 0.3s ease-out 0s;
}
.btn-effect0016:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: #37474f;
  right: 0;
  bottom: 0;
  z-index: -1;
  -moz-transition: width 0.3s ease-out 0s;
  /* Firefox 4 */
  -webkit-transition: width 0.3s ease-out 0s;
  /* Safari 和 Chrome */
  -o-transition: width 0.3s ease-out 0s;
  /* Opera */
  transition: width 0.3s ease-out 0s;
}
.btn-effect0016:hover {
  color: #fff;
}
.btn-effect0016:hover:before {
  width: 50%;
}
.btn-effect0016:hover:after {
  width: 50%;
}
/* *****************************特效17 */
.btn-effect0017 {
  -moz-transition: color 0.3s ease-out 0s;
  /* Firefox 4 */
  -webkit-transition: color 0.3s ease-out 0s;
  /* Safari 和 Chrome */
  -o-transition: color 0.3s ease-out 0s;
  /* Opera */
  transition: color 0.3s ease-out 0s;
}
.btn-effect0017:before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  background: #37474f;
  -ms-transform-origin: top center;
  /* IE 9 */
  -webkit-transform-origin: top center;
  /* Safari 和 Chrome */
  -moz-transform-origin: top center;
  /* Firefox */
  -o-transform-origin: top center;
  /* Opera */
  transform: skewX(40deg);
  -ms-transform: skewX(40deg);
  /* IE 9 */
  -moz-transform: skewX(40deg);
  /* Firefox */
  -webkit-transform: skewX(40deg);
  /* Safari 和 Chrome */
  -o-transform: skewX(40deg);
  /* Opera */
  transform-origin: top center;
  -moz-transition: width 0.3s ease-out 0s;
  /* Firefox 4 */
  -webkit-transition: width 0.3s ease-out 0s;
  /* Safari 和 Chrome */
  -o-transition: width 0.3s ease-out 0s;
  /* Opera */
  transition: width 0.3s ease-out 0s;
}
.btn-effect0017:hover {
  color: #fff;
}
.btn-effect0017:hover:before {
  width: 130%;
}
/* *****************************特效18 */
.btn-effect0018 {
  -moz-transition: color 0.3s ease-out 0s;
  /* Firefox 4 */
  -webkit-transition: color 0.3s ease-out 0s;
  /* Safari 和 Chrome */
  -o-transition: color 0.3s ease-out 0s;
  /* Opera */
  transition: color 0.3s ease-out 0s;
}
.btn-effect0018:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: #37474f;
  left: 0;
  bottom: 0;
  z-index: -1;
  -ms-transform-origin: bottom center;
  /* IE 9 */
  -webkit-transform-origin: bottom center;
  /* Safari 和 Chrome */
  -moz-transform-origin: bottom center;
  /* Firefox */
  -o-transform-origin: bottom center;
  /* Opera */
  transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  /* IE 9 */
  -moz-transform: skewX(30deg);
  /* Firefox */
  -webkit-transform: skewX(30deg);
  /* Safari 和 Chrome */
  -o-transform: skewX(30deg);
  /* Opera */
  transform-origin: bottom center;
  -moz-transition: width 0.3s ease-out 0s;
  /* Firefox 4 */
  -webkit-transition: width 0.3s ease-out 0s;
  /* Safari 和 Chrome */
  -o-transition: width 0.3s ease-out 0s;
  /* Opera */
  transition: width 0.3s ease-out 0s;
}
.btn-effect0018:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: #37474f;
  right: 0;
  bottom: 0;
  z-index: -1;
  -ms-transform-origin: top center;
  /* IE 9 */
  -webkit-transform-origin: top center;
  /* Safari 和 Chrome */
  -moz-transform-origin: top center;
  /* Firefox */
  -o-transform-origin: top center;
  /* Opera */
  transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  /* IE 9 */
  -moz-transform: skewX(30deg);
  /* Firefox */
  -webkit-transform: skewX(30deg);
  /* Safari 和 Chrome */
  -o-transform: skewX(30deg);
  /* Opera */
  transform-origin: top center;
  -moz-transition: width 0.3s ease-out 0s;
  /* Firefox 4 */
  -webkit-transition: width 0.3s ease-out 0s;
  /* Safari 和 Chrome */
  -o-transition: width 0.3s ease-out 0s;
  /* Opera */
  transition: width 0.3s ease-out 0s;
}
.btn-effect0018:hover {
  color: #fff;
}
.btn-effect0018:hover:before {
  width: 60%;
}
.btn-effect0018:hover:after {
  width: 60%;
}
/* *****************************特效19 */
.btn-effect0019 {
  font-size: 0;
  border: none;
  overflow: visible;
}
.btn-effect0019:before {
  content: attr(data-text);
  color: #7986cb;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: white;
  font-size: 16px;
  -ms-transform-origin: 50% 50% -20px;
  /* IE 9 */
  -webkit-transform-origin: 50% 50% -20px;
  /* Safari 和 Chrome */
  -moz-transform-origin: 50% 50% -20px;
  /* Firefox */
  -o-transform-origin: 50% 50% -20px;
  /* Opera */
  transform: rotateX(0);
  -ms-transform: rotateX(0);
  /* IE 9 */
  -moz-transform: rotateX(0);
  /* Firefox */
  -webkit-transform: rotateX(0);
  /* Safari 和 Chrome */
  -o-transform: rotateX(0);
  /* Opera */
  transform-origin: 50% 50% -20px;
  -moz-transition: all 0.1s ease-out 0s;
  /* Firefox 4 */
  -webkit-transition: all 0.1s ease-out 0s;
  /* Safari 和 Chrome */
  -o-transition: all 0.1s ease-out 0s;
  /* Opera */
  transition: all 0.1s ease-out 0s;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
  border: 2px solid #7986cb;
  line-height: 38px;
}
.btn-effect0019:after {
  content: attr(data-text);
  color: white;
  background: #7986cb;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 16px;
  -ms-transform-origin: 50% 50% -20px;
  /* IE 9 */
  -webkit-transform-origin: 50% 50% -20px;
  /* Safari 和 Chrome */
  -moz-transform-origin: 50% 50% -20px;
  /* Firefox */
  -o-transform-origin: 50% 50% -20px;
  /* Opera */
  transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  /* IE 9 */
  -moz-transform: rotateX(-90deg);
  /* Firefox */
  -webkit-transform: rotateX(-90deg);
  /* Safari 和 Chrome */
  -o-transform: rotateX(-90deg);
  /* Opera */
  transform-origin: 50% 50% -20px;
  -moz-transition: transform 0.1s ease-out 0s;
  /* Firefox 4 */
  -webkit-transition: transform 0.1s ease-out 0s;
  /* Safari 和 Chrome */
  -o-transition: transform 0.1s ease-out 0s;
  /* Opera */
  transition: transform 0.1s ease-out 0s;
}
.btn-effect0019:hover:before {
  -ms-transform-origin: 50% 50% -20px;
  /* IE 9 */
  -webkit-transform-origin: 50% 50% -20px;
  /* Safari 和 Chrome */
  -moz-transform-origin: 50% 50% -20px;
  /* Firefox */
  -o-transform-origin: 50% 50% -20px;
  /* Opera */
  transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  /* IE 9 */
  -moz-transform: rotateX(90deg);
  /* Firefox */
  -webkit-transform: rotateX(90deg);
  /* Safari 和 Chrome */
  -o-transform: rotateX(90deg);
  /* Opera */
  transform-origin: 50% 50% -20px;
  opacity: 0.4;
}
.btn-effect0019:hover:after {
  -ms-transform-origin: 50% 50% -20px;
  /* IE 9 */
  -webkit-transform-origin: 50% 50% -20px;
  /* Safari 和 Chrome */
  -moz-transform-origin: 50% 50% -20px;
  /* Firefox */
  -o-transform-origin: 50% 50% -20px;
  /* Opera */
  transform: rotateX(0);
  -ms-transform: rotateX(0);
  /* IE 9 */
  -moz-transform: rotateX(0);
  /* Firefox */
  -webkit-transform: rotateX(0);
  /* Safari 和 Chrome */
  -o-transform: rotateX(0);
  /* Opera */
  transform-origin: 50% 50% -20px;
}
/* *****************************特效20 */
.btn-effect0020 {
  background: #fff;
  box-shadow: inset 0 0 0 2px #fcc;
  -moz-transition: color 0.5s ease-out 0s;
  /* Firefox 4 */
  -webkit-transition: color 0.5s ease-out 0s;
  /* Safari 和 Chrome */
  -o-transition: color 0.5s ease-out 0s;
  /* Opera */
  transition: color 0.5s ease-out 0s;
}
.btn-effect0020:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
  border: 2px solid transparent;
}
.btn-effect0020:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
  border: 2px solid transparent;
}
.btn-effect0020:hover {
  color: #7986cb;
}
.btn-effect0020:hover:before {
  width: 100%;
  height: 100%;
  border-top-color: #7986cb;
  border-right-color: #7986cb;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  -moz-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  -o-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.btn-effect0020:hover:after {
  width: 100%;
  height: 100%;
  border-bottom-color: #7986cb;
  border-left-color: #7986cb;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  -moz-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  -o-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
/* *****************************特效21 */
.btn-effect0021 {
  box-shadow: 0 5px 0 0 #999;
  -moz-transition: all 0.1s ease-out 0s;
  /* Firefox 4 */
  -webkit-transition: all 0.1s ease-out 0s;
  /* Safari 和 Chrome */
  -o-transition: all 0.1s ease-out 0s;
  /* Opera */
  transition: all 0.1s ease-out 0s;
}
.btn-effect0021:hover {
  -ms-transform-origin: 50% 50% 0;
  /* IE 9 */
  -webkit-transform-origin: 50% 50% 0;
  /* Safari 和 Chrome */
  -moz-transform-origin: 50% 50% 0;
  /* Firefox */
  -o-transform-origin: 50% 50% 0;
  /* Opera */
  transform: translate3d(0, 5px, 0);
  -ms-transform: translate3d(0, 5px, 0);
  /* IE 9 */
  -moz-transform: translate3d(0, 5px, 0);
  /* Firefox */
  -webkit-transform: translate3d(0, 5px, 0);
  /* Safari 和 Chrome */
  -o-transform: translate3d(0, 5px, 0);
  /* Opera */
  transform-origin: 50% 50% 0;
  box-shadow: none;
}
