@charset "utf-8";
/*-----------------------------------清除默认样式-------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
i,
b,
em,
strong {
  font-style: normal;
}
img {
  display: block;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(http://2.tthunbohui.cn/zhuanti/10809/YQH-imgBj-logo.png);
  background-size: 20% auto;
}
body {
  font-family: '微软雅黑';
  color: #333;
  font-size: 14px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}
/*---------------------------------------end------------------------------------------------*/
/*-------------------------------------公共样式---------------------------------------------*/
.wrap {
  width: 1200px;
  margin: 0 auto;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*文字颜色效果1*/
.writee-color333 {
  color: #9d9d9d;
}
.writee-color333:hover {
  color: #fff;
}
.writee-color337 {
  color: #337ab7;
}
.writee-color337:hover {
  color: #22639c;
}
.textarea-code {
  width: 100%;
  padding: 9px 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  box-sizing: border-box;
}
.holdall {
  position: fixed;
  left: 50%;
  top: 420px;
  width: 156px;
  height: 45px;
  margin-left: -78px;
  line-height: 45px;
  background: #6f5499;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
}
.holdall:hover {
  background: #5f4783;
}
/*-----------------------------------------end---------------------------------------------*/
/*---------------------公共样式(顶部导航、公共头部、内容区域)------------------------------*/
.weddingExpoFile-public-header {
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  font-family: "微软雅黑";
}
.weddingExpoFile-public-header .header-nav {
  zoom: 1;
  height: 100%;
  padding: 0 10px;
}
.weddingExpoFile-public-header .header-nav:after {
  content: '';
  display: block;
  clear: both;
}
.weddingExpoFile-public-header .navas {
  float: left;
  font-size: 0;
}
.weddingExpoFile-public-header .navas a {
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  color: #563d7c;
  height: 42px;
  text-decoration: none;
  line-height: 42px;
}
.weddingExpoFile-public-header .navas .active {
  color: #463265;
  background-color: #ececec;
}
.weddingExpoFile-public-header .navas .activeIn {
  color: #463265;
  background-color: #ececec;
}
.weddingExpoFile-public-info {
  margin-bottom: 40px;
  font-family: inherit;
  padding: 0 20px;
  background-color: #6f5499;
}
.weddingExpoFile-public-info .info-writte {
  font-size: 0;
  text-align: center;
}
.weddingExpoFile-public-info .info-writte .info {
  width: 100%;
  padding: 40px 0;
  display: inline-block;
  vertical-align: middle;
}
.weddingExpoFile-public-info .info-writte .info h2 {
  color: #fff;
  font-size: 60px;
  text-align: left;
  font-weight: normal;
}
.weddingExpoFile-public-info .info-writte .info p {
  width: 760px;
  color: #cdbfe3;
  font-size: 24px;
  text-align: left;
}
.weddingExpoFile-public-info .info-writte .middle {
  height: 100%;
  display: inline-block;
  text-align: middle;
}
.weddingExpoFile-content-wrap {
  padding-bottom: 100px;
}
.weddingExpoFile-content-wrap .weddingExpoFile-content {
  zoom: 1;
  position: relative;
}
.weddingExpoFile-content-wrap .weddingExpoFile-content:after {
  content: '';
  display: block;
  clear: both;
}
.weddingExpoFile-content-wrap .content-left {
  float: left;
  width: 75%;
  padding: 0 15px;
  box-sizing: border-box;
}
.weddingExpoFile-content-wrap .content-left .page {
  margin-bottom: 30px;
}
.weddingExpoFile-content-wrap .content-left .title {
  height: 68px;
}
.weddingExpoFile-content-wrap .content-left .title:hover i {
  background: url(../images/weddingExpoFile-content-titleicon.png) no-repeat left center;
  background-size: 100% 100%;
}
.weddingExpoFile-content-wrap .content-left .title h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 882px;
  display: inline-block;
  font-size: 36px;
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  padding-bottom: 5px;
  vertical-align: middle;
  border-bottom: 1px solid #333;
}
.weddingExpoFile-content-wrap .content-left .title i {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: -58px;
  vertical-align: middle;
}
.weddingExpoFile-content-wrap .content-left .content {
  margin-left: -14px;
}
.weddingExpoFile-content-wrap .content-left .content strong {
  font-size: 18px;
}
.weddingExpoFile-content-wrap .content-left .content textarea {
  overflow-y: hidden;
  font-family: "微软雅黑";
}
.weddingExpoFile-content-wrap .content-left .content hr {
  height: 2px;
  border: none;
  border-top: 2px dotted #185598;
  margin-bottom: 20px;
}
.weddingExpoFile-content-wrap .content-left .content .info {
  color: #585858;
  font-size: 16px;
  line-height: 32px;
}
.weddingExpoFile-content-wrap .content-left .content .info-commonly {
  font-size: 14px !important;
}
.weddingExpoFile-content-wrap .content-left .content .info-writte {
  position: absolute;
  font-size: 16px;
}
.weddingExpoFile-content-wrap .content-left .content .info-img {
  position: relative;
  text-align: center;
  font-size: 0;
}
.weddingExpoFile-content-wrap .content-left .content .info-img img {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  min-height: 70px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  vertical-align: top;
}
.weddingExpoFile-content-wrap .content-left .content .ahref {
  text-decoration: none;
}
.weddingExpoFile-content-wrap .content-left .content .ahref:hover {
  text-decoration: underline;
}
.weddingExpoFile-content-wrap .content-left .content .spancolor {
  color: #6978e4;
}
.weddingExpoFile-content-wrap .content-left .content .spancolorhot {
  color: red;
}
.weddingExpoFile-content-wrap .content-left .content .imginfo {
  width: 100%;
  min-height: 140px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
}
.weddingExpoFile-content-wrap .content-right {
  float: right;
  width: 25%;
  padding-left: 40px;
  padding-right: 15px;
  box-sizing: border-box;
}
.weddingExpoFile-content-wrap .content-right a {
  display: block;
  color: #aaa9a9;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  padding-left: 20px;
  border-left: 1px solid #fff;
  text-decoration: none;
}
.weddingExpoFile-content-wrap .content-right a:hover {
  color: #333;
  border-left: 1px solid #6f5499;
}
.weddingExpoFile-content-wrap .content-right .active {
  color: #333;
  border-left: 1px solid #6f5499;
}
.scrollBar-wrap {
  padding: 10px 0;
  text-align: center;
}
.hztheticket-previous-models {
  display: inline-block;
  width: 100%;
  height: 382px;
  box-sizing: border-box;
  padding: 54px 34px;
  background: url(http://4.tthunbohui.cn/zhuanti/10263/hztheticket-previous-img.png) no-repeat center center;
  background-size: 100% auto;
}
.hztheticket-previous-models .previous-roll-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hztheticket-previous-models .scroll-content-wrap {
  zoom: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
}
.hztheticket-previous-models .scroll-content-wrap:after {
  content: '';
  display: block;
  clear: both;
}
.hztheticket-previous-models .scroll-content-wrap li {
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hztheticket-previous-models .scroll-ground-wrap {
  position: absolute;
  right: 0;
  top: 0;
  width: 7px;
  height: 100%;
  background-color: #fff;
}
.hztheticket-previous-models .scroll-ground-wrap span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 90px;
  cursor: pointer;
  background-color: #c5b27c;
}
/*---------------------------------------end-----------------------------------------------*/
