.threeD-carosel-box {
  padding: 0;
  position: relative;
  margin: auto;
}
.threeD-carosel-box .threeD-carosel {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
}
.threeD-carosel-box .threeD-carosel li {
  position: absolute;
}
.threeD-carosel-box .threeD-carosel .target {
  z-index: 999;
}
.threeD-carosel-box .threeD-carosel .left {
  z-index: 998;
}
.threeD-carosel-box .threeD-carosel .left:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.threeD-carosel-box .threeD-carosel .left1 {
  z-index: 996;
}
.threeD-carosel-box .threeD-carosel .right {
  z-index: 997;
}
.threeD-carosel-box .threeD-carosel .right:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.threeD-carosel-box .control-dot {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 0;
}
.threeD-carosel-box .control-dot li {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 5px;
  float: left;
}
.threeD-carosel-box .control-dot .selected {
  background: #fff;
}